@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
html,body{
    place-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

::selection{
    color: #fff;
    background: #007bff;
}

::-webkit-scrollbar{
    width: 3px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}

.wrapper{
    background: #fff;
    height: 90vh;
}

.nav{
    position: sticky;
    z-index: 1;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    background-color: #0066FF;
    flex-wrap: wrap;
    width: 100vw;
    height: 55px;
}

#ul > li > a > img{
    margin-top: 10%;
    margin-left: 10%;
    width: 50%;
}

#back > a {
    padding: 0.5vw;
}

#ul > li > img{
    margin-top: 10%;
    width: 65%;
}
    
.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
    
.nav>div>#ul>li>h1{
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

.date {
    position: relative;
    text-align: center;
    opacity: 50%;
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 3px;
}

.wrapper .form{
    margin: 0px 1vw;
    padding: 1vw 1.7vw;
    height: 110vh;
    min-height: 63%;
    max-height: 400px;
    overflow-y: auto;
}
.wrapper .form .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}
.wrapper .form .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}
.wrapper .form .inbox .icon{
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: #007bff;
}
.wrapper .form .inbox .msg-header{
    max-width: 53%;
    margin-left: 10px;
}

.form .inbox .msg-header p{
    color: #fff;
    background: #007bff;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 15px;
}
.form .user-inbox .msg-header p{
    color: #333;
    background: #efefef;
}

::-webkit-scrollbar{
    width: 2px;
}

.choices-slide::-webkit-scrollbar{
    height: 0;
}

.choices {
    overflow-x: auto;
    border: 1px red solid;
    margin-top: 80px;
}

.choices-slide{
    overflow-x: auto;
    width: 100%;
    position: fixed;
    bottom: 60px;
    padding-top: 6px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.choices-slide button {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 5px 16px;
    cursor: pointer;
    min-width: 285px;
    margin: 0 5px;
}

.choices-slide button:hover{
    background-color:#333;
    color: white;
}

.wrapper .typing-field{
    position: fixed;
    display: flex;
    height: 55px;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: #efefef;
    border-top: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}
.wrapper .typing-field .input-data{
    display: flex;
    height: 35px;
    width: 90%;
    position: relative;
}
.wrapper .typing-field .input-data input{
    height: 100%;
    width: 90%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: #fff;
    transition: all 0.3s ease;
}
.typing-field .input-data input:focus{
    border-color: rgba(0,123,255,0.8);
}
.input-data input::placeholder{
    color: #999999;
    transition: all 0.3s ease;
}
.input-data input:focus::placeholder{
    color: #bfbfbf;
}
.wrapper .typing-field .input-data button{
    position: relative;
    top: 50%;
    margin-left: 2%;
    height: 35px;
    width: 100px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    /* opacity: 0; */
    pointer-events: none;
    border-radius: 3px;
    background: #007bff;
    border: 1px solid #007bff;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.wrapper .typing-field .input-data input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}
.typing-field .input-data button:hover{
    background: #006fef;
}

/* RESPONSIVE */

@media(max-width:832px){
    .nav>div>#ul>li>h1{
        margin-left: -10px;
    }

    .date {
        margin-top: 5px;
        margin-bottom: 2px;
    }

    .wrapper .typing-field .input-data input{
        padding: 0 20px 0 15px;
    }
}

@media(max-width:400px){
    #ul > li > a > img{
        margin-top: 5%;
        margin-left: 15%;
        width: 50%;
    }
    
    #ul > li > img{
        margin-top: 6%;
        width: 50%;
    }
        
    .nav>div>#ul>li>h1{
        margin-left: -15px;
    }

    .date {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 2px;
    }
    .wrapper .form{
        height: 100vh;
        max-height: 395px;
    }
    
    .wrapper .form .inbox .icon{
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 15px;
    }
    .wrapper .form .inbox .msg-header {
        max-width: 70%;
    }

    .form .inbox .msg-header p{
        font-size: 15px;
    }

    .wrapper .typing-field .input-data input{
        padding: 0 20px 0 15px;
    }

    .choices {
        height: 10vh;
        width: 100%;
        overflow-x: auto;
        position: relative;
    }

    .choices-slide > button {
        margin-left: 5px;
        margin-right: 5px;
        min-width: 180px;
        position: relative;
    }
}