body{
    max-height: 100%;
    height: 1000px;
}

*{  
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    
}

/* { NAVBAR CSS */

/* NAVBAR CSS } */

.banner{
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
}

.banner img{
    width: 100%;
}

#carousel-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    /* gap: 2%; */
}

.carousel-image{
    height: 0;
    transition: opacity .2s ease-in-out;
    opacity: .5;
    object-fit: cover;
}

.carousel-image.active{
    height: var(--height);
    opacity: 1;
}

.button>svg{
    width: 6.2rem;
    height: 6.2rem;
    cursor: pointer;
    color: #C8C8C8;
}

#button-left > svg{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#button-right > svg{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.caroul-circle>span{
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.caroul-circle{
    left: 50%;
    top: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 0;
}

/* { CATEGORY CSS */
#category > h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #4B4B4B;
}

#category-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 22%;
    margin-right: 22%;
}

#category-section .category-list{
    padding: 20px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(38, 45, 118, 20%);
    flex: 20%;
    max-width: 20%;
    background-color: #EFF4F7;
    border-radius: 30px;
    cursor: pointer;
}

#category-section .category-list:hover{
    transform: scale(1.1);
}

.category-list-box{
    width: 100%;
    height: 70%;
}

.category-list > div > img{
    width: 65%;
    object-fit: cover;
    margin-top: 10px;
}

.category-list > p{
    font-size: 2vh;
    font-weight:600;
    color: #82868B;
    margin-top: 15px;
}

@media(max-width:500px){
    #category-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 18%;
        margin-right: 18%;
        
    }

    #category-section .category-list{
        padding: 20px;
        text-align: center;
        box-shadow: 0px 10px 30px rgba(38, 45, 118, 20%);
        flex: 45%;
        max-width: 45%;
        background-color: #EFF4F7;
        border-radius: 30px;
        cursor: pointer;
        margin-bottom: 5vh;
    }
}

/* CATEGORY CSS } */



/* { EVENT CSS */
#event{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 72px;
}

#event > h2{
    font-size: 5vh;
    margin-bottom: 40px;
}

#event-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#event-section .event-list{
    flex: 31%;
    max-width: 31%;
}

.event-list{
    border-radius: 20px;
    margin-bottom: 52px;
    box-shadow: 0px 10px 30px rgba(38, 45, 118, 20%);
    cursor: pointer;
}

.event-list-img > img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(38, 45, 118, 20%);
}

.event-list > a{
    text-decoration: none;
    color: black;
}

.event-list-desc{
    padding: 0 20px 20px 20px;

}

.event-list-desc>h2{
    font-size: 3vh;
}

.event-list-location, .event-list-date{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vh;
    margin-top: 5px;
}

.event-list-location{
    display: flex;
    flex-wrap: wrap;
}

.event-list-location-icon{
    margin-right: 10px;
}

.event-list-date{
    display: flex;
    flex-wrap: wrap;
}

.event-list-date-icon{
    margin-right: 10px;
}

.event-list-price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.event-list-price-p{
    color: #1774FF;
    font-size: 2.3vh;
    font-weight: 700;
}

.event-list-price-ticket{
    color: #82868B;
    font-size: 2vh;
}

@media(max-width:500px){
    #event-section .event-list{
        flex: 80%;
        max-width: 80%;
    }
}

/* EVENT CSS } */

#pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#pagination > div > a{
    text-decoration: none;
    color: #5D9EFF;
}

#pagination .active{
    background-color: #5D9EFF;
    color: white;
}

#pagination > div{
    margin: 0 0.7vh;
}

.pagination-number{
    border: 1px solid #5D9EFF;
    width: 4vh;
    padding: 0.7vh;
    text-align: center;
    border-radius: 7px;
    font-size: 2vh;
}


/* PAGINATION CSS } */



/* { FOOTER CSS */

#footer-wrapper{
background-color: #0066FF;
color: white;
margin-top: 60px;
}

#footer-wrapper > h4{
color: white;
text-align: center;
padding: 10px;
}

#footer{
display: flex;
padding-top: 1%;
padding-left: 5.5%;
padding-right: 5.5%;
padding-bottom: 1%;
justify-content: space-between;
background-color: #4D94FF;
flex-wrap: wrap;
}

.footer-box1> img{
width: 70%;
}

.a{
width: 20%;
}

.footer-box2 h2{
margin-bottom: 14px;
}

.footer-box2 p{
margin-top: 10px;
}

.footer-box3 a{
text-decoration: none;
color: white;
}

.footer-box3 h2{
margin-bottom: 14px;
}

.footer-box3 p{
margin-top: 10px;
}

.footer-box4 h2{
margin-bottom: 14px;
}

.footer-box4 p{
margin-top: 10px;
}

.footer-box5 h2{
margin-bottom: 14px;
}

.footer-box5 p{
margin-top: 10px;
}

.footer-follow-us{
display: flex;
flex-wrap: wrap;
align-items: center;
margin-top: 10px;
font-size: 0.9em;
}

.footer-follow-us img{
width: 70%;
}
/* FOOTER CSS } */