/* { FOOTER CSS */

#footer-wrapper{
background-color: #0066FF;
color: white;
margin-top: 60px;
}

#footer-wrapper > h4{
color: white;
text-align: center;
padding: 10px;
}

#footer{
display: flex;
padding-top: 1%;
padding-left: 5.5%;
padding-right: 5.5%;
padding-bottom: 1%;
justify-content: space-between;
background-color: #4D94FF;
flex-wrap: wrap;
}

.footer-box1> img{
width: 70%;
}

.a{
width: 20%;
}

.footer-box2 h2{
margin-bottom: 14px;
}

.footer-box2 p{
margin-top: 10px;
}

.footer-box3 a{
text-decoration: none;
color: white;
}

.footer-box3 h2{
margin-bottom: 14px;
}

.footer-box3 p{
margin-top: 10px;
}

.footer-box4 h2{
margin-bottom: 14px;
}

.footer-box4 p{
margin-top: 10px;
}

.footer-box5 h2{
margin-bottom: 14px;
}

.footer-box5 p{
margin-top: 10px;
}

.footer-follow-us{
display: flex;
flex-wrap: wrap;
align-items: center;
margin-top: 10px;
font-size: 0.9em;
}

.footer-follow-us img{
width: 70%;
}

@media (max-width: 832px){

    #footer{
        display: flex;
        justify-content: center;
    }

    #footer .footer-box1{
        display: none;
    }

    #footer .footer-box2{
        width: 50%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #footer .footer-box3{
        width: 50%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #footer .footer-box4{
        width: 50%;
        margin-bottom: 5vh;
    }

    #footer .footer-box5{
        width: 50%;
        margin-bottom: 5vh;
    }
}
/* FOOTER CSS } */