/* { NAVBAR CSS */

#toggle{
    visibility: hidden;
}

#menu > i{
    font-size: 20px;
}
nav{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;  
    padding: 3px 7%; 
    justify-content: space-between;
    align-items: center;
    background-color: #0066FF;
    flex-wrap: wrap;
    width: 100%;
}

#ul > li > a > img{
    width: 50%;
}
    
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
nav .menu-responsive i{
    display: none;
    color: #42A7C3;
    font-size: 80px;
    cursor: pointer;
}
    
nav>div>#ul>li>a{
    /* font-size: 24px; */
    padding: 15px;
    padding-right: 35px;
    color: white;
    font-size: 1.4vw;
    text-decoration: none;
}
    
nav li a.active{
    text-decoration: underline;
    color: #FFB830;
}
    
nav ul li a:hover{
    color: #FFB830;
}
    
#ul2 img{
    width: 70%;
}
    
#login > button{
    padding: 10px 35px;
    border: none;
    border-radius: 20px;
    color: #0066FF;
    font-weight: bolder;
    font-size: 1em;
    margin-right: 20px;
    cursor: pointer;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 0%;
    margin-right: 9%;
    background-color: azure;
    width: 15%;
    max-height: 0px;
    overflow: hidden;   
    transition: max-height 1s;
}

.sub-menu-wrap.open-menu{
    max-height: 420px;
}
    
.sub-menu-link{
    display: flex;
    justify-content: center;
    text-decoration: none;
    justify-content: space-between;
    margin: 12px 0;
    color: #656565;

    padding: 1.2% 5% 4% 5%;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link span{
    transition: transform 0.3s;
}

.sub-menu-link:hover p{
    font-weight: 500;
}

.sub-menu-link:hover span{
    font-weight: 500;
    transform: translateX(5px);
}

@media(max-width:425px){
    .a{
        width: 100%;
        margin-top: 50px;
    }
    
    .a:nth-child(n+2){
        margin-top: 40px;
    }
    }
    
    @media (max-width: 832px){
    nav{
        padding: 20px 40px 20px 50px;
    }
    
    #menu{
        border: 2px solid #42A7C3;
        border-radius: 7px;
        padding: 10px;
        position: absolute;
        right: 5.5%;
        cursor: pointer;
    }
    
    nav .menu-responsive i{
        display: block;
    }
    
    nav ul{
        position: fixed;
        margin: 0;
        padding: 0;
        top: 50px;
        left: 100%;
        display: block;
        background-color: #0066FF;
        height: auto;
        width: 100%;
        text-align: right;
        transition: all 0.7s ease;
    }
    
    nav ul li{
        width: 100%;
        margin: 5px 0px;
    }
    
    nav div ul li a{
        width: 100%;
        display: block;
        font-size: 15px;
        color: #f2f2f2;
    }
}

/* NAVBAR CSS } */