body{
    max-height: 100%;
}

*{  
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    
}

/* { NAVBAR CSS */

#toggle{
    visibility: hidden;
}

#menu > i{
    font-size: 20px;
}
nav{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;  
    padding: 5px 5.5%; 
    justify-content: space-between;
    align-items: center;
    background-color: #0066FF;
    flex-wrap: wrap;
    width: 100%;
    }
    
    nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    nav .menu-responsive i{
    display: none;
    color: #42A7C3;
    font-size: 80px;
    cursor: pointer;
    }
    
    nav>div>#ul>li>a{
    /* font-size: 24px; */
    padding: 15px;
    padding-right: 35px;
    color: white;
    font-size: 1.4vw;
    text-decoration: none;
    }
    
    nav li a.active{
    text-decoration: underline;
    color: #FFB830;
    }
    
    nav ul li a:hover{
    color: #FFB830;
    }
    
    #ul2 img{
    width: 70%;
    }
    
    #login > button{
    padding: 10px 35px;
    border: none;
    border-radius: 20px;
    color: #0066FF;
    font-weight: bolder;
    font-size: 1em;
    margin-right: 20px;
    cursor: pointer;
    }
    
    @media(max-width:425px){
    .a{
        width: 100%;
        margin-top: 50px;
    }
    
    .a:nth-child(n+2){
        margin-top: 40px;
    }
    }
    
    @media (max-width: 832px){
    nav{
        padding: 20px 40px 20px 50px;
    }
    
    #menu{
        border: 2px solid #42A7C3;
        border-radius: 7px;
        padding: 10px;
        position: absolute;
        right: 5.5%;
        cursor: pointer;
    }
    
    nav .menu-responsive i{
        display: block;
    }
    
    nav ul{
        position: fixed;
        margin: 0;
        padding: 0;
        top: 50px;
        left: 100%;
        display: block;
        background-color: #0066FF;
        height: auto;
        width: 100%;
        text-align: right;
        transition: all 0.7s ease;
    }
    
    nav ul li{
        width: 100%;
        margin: 5px 0px;
    }
    
    nav div ul li a{
        width: 100%;
        display: block;
        font-size: 15px;
        color: #f2f2f2;
    }
}

/* NAVBAR CSS } */

#payment{
    box-shadow: 0px 10px 30px rgba(0,0,0, 40%);
    margin: 5% 20%;
    padding: 4% 8%;
    border-radius: 10px;
}

#payment-1{
    border-bottom: 1px solid black;
}

#payment > div > h2{
    color: #1774FF;
    font-size: 1.8em;
    text-align: center;
}

#payment-child1{
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 15px;
}

.payment-child2{
    color: #1774FF;
    font-weight: 500;
}

.payment-child3{
    color: #9D9D9D;
    margin-top: 5px;
    font-size: 0.9em;
}

.payment-child3:last-child{
    margin-bottom: 28px;
}

#payment-2{
    border-bottom: 1px solid black;
}

#payment-2-2{
    margin-top: 25px;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 25px;
}

#payment-2 img{
    width: 40%;
}

#account-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 28px;
}

#account-info-1{
    font-size: 1.2em;
    font-weight: 500;
}

#account-info-2{
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 6px;
    color: #1774FF;
}

#account-info-3 > img{
    width: 50%;
    margin-left: 15px;
}

#account-info-4{
    color: #9D9D9D;
    text-decoration: underline;
}

#payment-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px 0 0;
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 28px;
    border-bottom: 1px solid black;
    margin-top: 28px;
    
}

#payment-4{
    color: #D00303;
    font-weight: 500;
    margin-top: 12px;
}

#payment-5{
    text-align: center;
    margin: 40px 0 0 0;
}

#payment-5 > button{
    background-color: #006DEC;
    border: none;
    border-radius: 10px;
    padding: 2% 10%;
    color: white;
    font-size: 1.4em;
}