body{
    max-height: 100%;
    height: 1000px;
    background-color: #ECF3FF;
}

*{  
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    
}

/* { NAVBAR CSS */

#toggle{
    visibility: hidden;
}

#menu > i{
    font-size: 20px;
}

nav{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;  
    padding: 20px 5.5%; 
    justify-content: space-between;
    align-items: center;
    background-color: #0066FF;
    flex-wrap: wrap;
    width: 100%;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu-responsive i{
    display: none;
    color: #42A7C3;
    font-size: 80px;
    cursor: pointer;
}

nav>div>#ul>li>a{
    /* font-size: 24px; */
    padding: 15px;
    padding-right: 35px;
    color: white;
    font-size: 1.4vw;
    text-decoration: none;
}

nav li a.active{
    text-decoration: underline;
    color: #FFB830;
}

nav ul li a:hover{
    color: #FFB830;
}

#ul2 img{
    width: 70%;
}

#login > button{
    padding: 10px 35px;
    border: none;
    border-radius: 20px;
    color: #0066FF;
    font-weight: bolder;
    font-size: 1em;
    margin-right: 20px;
    cursor: pointer;
}

/* NAVBAR CSS } */

/* Twibbon CSS */
#twibbon{
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    text-align: center ;
}

#twibbon-section{
    width: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.34);
    border-radius: 71px;
    justify-content: center;
    text-align: center;
    padding: 3%;
}

#twibbon-section > img{
    width : 22%;
}

.twibbon-section-logo-p{
    font-weight: 700;
    font-size: 2.5vw;
}

.twibbon-desc{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.twibbon-desc-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.47);
}

.twibbon-section-name{
    font-weight: 700;
    font-size: 3vw;
    line-height: 120px;
    text-align: center;
}

.twibbon-section-upload{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 2%;
}

.canvas{
    margin: auto;
    height: 450px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: 6%;
}

img#photo{
    position: absolute;
    z-index: -1;
    border: hidden;
}

img#twibbon-template{
    width: 100%;
    height: 100%;
}

.file-input > button{
    background: #1774FF;
    border-radius: 100px;
    width: 145px;
    height: 45px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.file-input > button:hover{
    background: #0f60db;
}

.download-container > a{
    border-radius: 100px;
    background: #1774FF;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.download-container > a:hover{
    background: #0f60db;
}

.download-container{
    margin-top: 6%;
}

.row{
    margin: 18px 0;
    gap: 25%;
}

.column{
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
    align-items: center;
}

.row > button {
    background: #1774FF;
    border-radius: 100px;
    width: 80px;
    height: 35px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.row > button:hover{
    background: #0f60db;
}

.input-set{
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.input-set:hover {
    opacity: 1; /* Fully shown on mouse-over */
    cursor: pointer;
}

@media(max-width:500px){
    #twibbon-section{
        width: 90%;
        background: #FFFFFF;
        box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.34);
        border-radius: 71px;
        justify-content: center;
        text-align: center;
        padding: 3%;
    }

    .twibbon-section-logo-p{
        font-weight: 700;
        font-size: 5vw;
    }

    .twibbon-section-name{
        font-weight: 700;
        font-size: 6vw;
        line-height: 120px;
        text-align: center;
    }

    img#twibbon-template{
        width: 70vw;
        height: 70vw;
    }
}

/* { FOOTER CSS */
    #footer-wrapper{
        background-color: #0066FF;
        color: white;
        margin-top: 72px;
    }
    
    #footer-wrapper > h4{
        color: white;
        text-align: center;
        padding: 20px;
    }
    
    #footer{
        display: flex;
        padding-top: 4%;
        padding-left: 5.5%;
        padding-right: 5.5%;
        padding-bottom: 4%;
        justify-content: space-between;
        background-color: #4D94FF;
        flex-wrap: wrap;
    }
    
    .footer-box1> img{
        width: 70%;
    }
    
    .a{
        width: 20%;
    }
    
    #footer-icon{
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-top: 40px;
    }
    
    #footer-icon > span{
        padding-right: 10px;
    }
    
    .footer-box2 h2{
        margin-bottom: 25px;
    }
    
    .footer-box2 p{
        margin-top: 10px;
    }
    
    .footer-box3 a{
        text-decoration: none;
        color: white;
    }
    
    .footer-box3 h2{
        margin-bottom: 25px;
    }
    
    .footer-box3 p{
        margin-top: 10px;
    }
    
    .footer-box4 h2{
        margin-bottom: 25px;
    }
    
    .footer-box4 p{
        margin-top: 10px;
    }
    
    .footer-box5 h2{
        margin-bottom: 25px;
    }
    
    .footer-box5 p{
        margin-top: 10px;
    }
    
    .footer-follow-us{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
    }
    
    .footer-follow-us>div:first-child{
        margin-right: 10px;
    }
    
    
    /* FOOTER CSS } */